<!-- jQuery sin el atributo 'integrity' -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>

{{ form_start(form, { 'attr': {'id': 'form'} }) }}
    {{ form_row(form.nombre) }}
    {{ form_row(form.finalizada) }}
    {{ form_row(form.creado_en) }}
    {{ form_row(form.prioridad) }}

    {# Desplegable de proyectos #}
    <div class="form-group">
        {{ form_label(form.proyecto) }}
        {{ form_widget(form.proyecto, {'attr': {'class': 'form-control p-2',}}) }}
    </div>

    {# Botón para abrir el modal de crear nuevo proyecto #}
    <button type="button" class="btn btn-primary mb-3" id="abrirModalNuevoProyecto">Crear Nuevo Proyecto</button>

    {{ form_row(form.usuario) }}

    {% if app.request.attributes.get('_route') == 'app_tareas_edit' %}
        <button type="button" class="btn btn-success" id="guardarButton">{{ button_label|default('Guardar') }}</button>
    {% else %}
        <button class="btn btn-success">{{ button_label|default('Guardar') }}</button>
    {% endif %}
{{ form_end(form) }}

<!-- Modal para crear nuevo proyecto -->
<div class="modal fade" id="nuevoProyectoModal" tabindex="-1" role="dialog" aria-labelledby="modalTituloNuevoProyecto" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTituloNuevoProyecto">Crear Nuevo Proyecto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Formulario para crear nuevo proyecto -->
                {{ form_start(proyectoForm, { 'attr': {'id': 'nuevoProyectoForm'} }) }}
                {{ form_widget(proyectoForm) }}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="guardarProyectoBtn">Guardar</button>
                {{ form_end(proyectoForm) }}
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
    //aqui la funcion para cerrar el modal al clicar en el boton
    $(document).on('click', '.btn-secondary[data-dismiss="modal"]', function() {
          $('#nuevoProyectoModal').modal('hide');
     });

        // Evento de clic para abrir el modal de crear nuevo proyecto
        $('#abrirModalNuevoProyecto').click(function() {
            $('#nuevoProyectoModal').modal('show');
        });

        // Evento de clic para guardar el nuevo proyecto
        $('#guardarProyectoBtn').click(function() {
            var nombreProyecto = $('#nombreProyecto').val(); // Obtener el nombre del proyecto desde el formulario

            // Enviar el formulario mediante AJAX
            $.ajax({
                type: 'POST',
                url: '{{ path('app_proyectos_new') }}', // Usar la ruta correcta para crear un nuevo proyecto
                data: $('#nuevoProyectoForm').serialize(), // Serializar el formulario
                success: function(response) {
                    // Actualizar el campo de selección de proyectos en el formulario de creación de tarea
                    var nuevoProyectoOption = $('<option>', { value: response.id, text: response.nombre });
                    $('#form_proyecto').append(nuevoProyectoOption);

                    // Cerrar el modal después de guardar el proyecto
                    $('#nuevoProyectoModal').modal('hide');
                    
                    // Redirigir a la página de crear nueva tarea
                    window.location.href = '{{ path('app_tareas_new') }}';

                },
                error: function(xhr, status, error) {
                    // Manejar errores de la solicitud AJAX
                    console.error('Error al guardar el nuevo proyecto:', error);
                }
            });
        });
    });
</script>
