{% extends 'base.html.twig' %}

{% block title %}Tareas index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!--Esto es para el datatable de botones y selección múltiple con boostrap-->
    <link href="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.0.3/b-3.0.1/b-html5-3.0.1/b-print-3.0.1/sl-2.0.0/datatables.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1>Tareas</h1>

    <table class="table" id="tareasTabla">
        <thead>
            <tr>
                <th><input type="checkbox" id="seleccionarTodo"></th>
                <th>Id</th>
                <th>Nombre</th>
                <th>Finalizada</th>
                <th>Creado_en</th>
                <th>Prioridad</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tarea in tareas %}
            <tr>
                <td><input type="checkbox" class="seleccionarTarea" name="tareas_seleccionados[]" value="{{ tarea.id }}"></td>
                <td>{{ tarea.id }}</td>
                <td>{{ tarea.nombre }}</td>
                <td>{{ tarea.finalizada ? 'Yes' : 'No' }}</td>
                <td>{{ tarea.creadoEn ? tarea.creadoEn|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tarea.prioridad }}</td>
                <td>
                    <a href="{{ path('app_tareas_show', {'id': tarea.id}) }}" class="btn btn-info ">Detalles</a>
                    <a href="{{ path('app_tareas_edit', {'id': tarea.id}) }}" class="btn btn-warning ">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  <div style="margin-bottom: 10px;">
        <a href="{{ path('app_tareas_new') }}" class="btn btn-primary">Crear Nuevo</a>

        <!-- Nuevo formulario para eliminar tareas -->
        <form action="/eliminar-tareas" method="post" id="formEliminarTareas" style="display: inline-block;">
            <!-- Campos ocultos para los IDs de los tareas -->
            <input type="hidden" name="id" id="idToDelete" value="">

            
            <!-- Botón para eliminar tareas -->
            <button type="submit" class="btn btn-danger" id="eliminarSeleccionButton" style="display: none;">Eliminar selección</button>
        </form>
    </div>

    <!-- Divs para mostrar mensajes de éxito y error -->
    <div id="successMessage" class="alert alert-success d-none" role="alert"></div>
    <div id="errorMessage" class="alert alert-danger d-none" role="alert"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
     <!--Esto es para el datatable de botones y selección múltiple con boostrap-->
    <script src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.0.3/b-3.0.1/b-html5-3.0.1/b-print-3.0.1/sl-2.0.0/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script>
        $(document).ready(function() {
           var table = $('#tareasTabla').DataTable({  
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'excel',
                        text: '<i class="fas fa-file-excel"></i> Exportar Excel',
                        titleAttr: 'Exportar a Excel',
                    },
                    {
                        extend: 'pdf',
                        text: '<i class="fas fa-file-pdf"></i> Exportar PDF',
                        titleAttr: 'Exportar a PDF',
                    },
                    {
                        extend: 'print',
                        text: '<i class="fas fa-print"></i> Imprimir',
                        titleAttr: 'Imprimir',
                    }
                ],
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                order: [[1, 'asc']] // Ordena la tabla por la segunda columna
            });


        // Función para actualizar la visibilidad del botón de eliminar selección
        function updateDeleteButtonVisibility() {
            var deleteButton = $('#eliminarSeleccionButton');
            var checkedCount = $('.seleccionarTarea:checked').length;
            if (checkedCount > 0) {
               deleteButton.show(); // Mostrar el botón si hay alguna selección
            } else {
                deleteButton.hide(); // Ocultar el botón si no hay ninguna selección
            }
        }
        $('#seleccionarTodo').on('click', function() {
            var isChecked = $(this).prop('checked');
            $('.seleccionarTarea').prop('checked', isChecked);
            updateDeleteButtonVisibility(); // Llama a la función para actualizar la visibilidad del botón de eliminar selección
        });

        $('.seleccionarTarea').on('click', function() {
            updateDeleteButtonVisibility(); // Llama a la función para actualizar la visibilidad del botón de eliminar selección
        });
        
        // Agregar evento click al botón para eliminar filas seleccionadas
        $('#eliminarSeleccionButton').on('click', function () {
            table.rows('.selected').remove().draw(false);
        });

         // Llamar a la función obtenerIDsSeleccionados en el evento submit del formulario
           $('#formEliminarTareas').submit(function (event) {
               event.preventDefault(); // Evita el envío del formulario por defecto

               // Obtener los IDs seleccionados
               var idsSeleccionados = obtenerIDsSeleccionados();

               // Asignar los IDs al campo oculto 'idToDelete'
               $('#idToDelete').val(idsSeleccionados);

               // Realizar la solicitud AJAX
               $.ajax({
                   type: 'POST',
                   url: $(this).attr('action'),
                   data: $(this).serialize(),
                   success: function(response) {
                       if (response.trim() === 'Tareas eliminadas correctamente') {
                           $('#successMessage').removeClass('d-none').text(response);
                           
                           // Después de mostrar el mensaje de éxito, redirige a la página de índice de tareas
                            window.location.href = "{{ path('app_tareas_index') }}";
                       } else {
                           $('#errorMessage').removeClass('d-none').text('Ha ocurrido un error al eliminar las tareas.');
                       }
                   },
                   error: function() {
                       $('#errorMessage').removeClass('d-none').text('Ha ocurrido un error al eliminar las tareas.');
                   }
               });
           });


        // Definir la función obtenerIDsSeleccionados
        function obtenerIDsSeleccionados() {
            var ids = [];
            $('.seleccionarTarea:checked').each(function() {
                ids.push($(this).val());
            });
            return ids;
        }

    });

    </script>
{% endblock %}