{% extends 'base.html.twig' %}

{% block title %}Tareas index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Incluir estilos de DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
    <h1>Tareas</h1>

    <table class="table" id="tareasTabla">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Finalizada</th>
                <th>Creado_en</th>
                <th>Prioridad</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tarea in tareas %}
            <tr>
                <td>{{ tarea.id }}</td>
                <td>{{ tarea.nombre }}</td>
                <td>{{ tarea.finalizada ? 'Yes' : 'No' }}</td>
                <td>{{ tarea.creadoEn ? tarea.creadoEn|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tarea.prioridad }}</td>
                <td>
                    <a href="{{ path('app_tareas_show', {'id': tarea.id}) }}" class="btn btn-info ">Detalles</a>
                    <a href="{{ path('app_tareas_edit', {'id': tarea.id}) }}" class="btn btn-warning ">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  <a href="{{ path('app_tareas_new') }}" class="btn btn-primary ">Crear Nuevo</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-2.0.2/datatables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#tareasTabla').DataTable({  
            });
        });
    </script>
{% endblock %}