{% extends 'base.html.twig' %}

{% block title %}Proyectos{% endblock %}

{% block body %}
    <h1>Detalles Proyectos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ proyecto.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ proyecto.nombre }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ proyecto.estado }}</td>
            </tr>
        </tbody>
    </table>

    <a href="javascript:history.go(-1);" class="btn btn-secondary">
    <i class="fas fa-arrow-left"></i> Volver </a>
    
    <a href="{{ path('app_proyectos_edit', {'id': proyecto.id}) }}" class="btn btn-warning ">Editar</a>

    {{ include('proyectos/_delete_form.html.twig') }}
{% endblock %}
