{% extends 'base.html.twig' %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Recuperar Contraseña</h1>
    <p>Por favor, introduce tu correo electrónico para recibir un enlace para restablecer tu contraseña.</p>

     {# Mostrar mensajes flash #}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}


    {{ form_start(requestForm, {'action': path('recuperar_contraseña'), 'method': 'POST'}) }}
        {{ form_row(requestForm.email) }}
    {{ form_end(requestForm) }}
</div>
{% endblock %}
