{% extends 'base.html.twig' %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block body %}
<div class="container mt-4">
    <h2>Restablecer Contraseña</h2>
    <p>Por favor, ingresa tu nueva contraseña.</p>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.newPassword.first) }}
        {{ form_row(resetForm.newPassword.second) }}
        {{ form_row(resetForm.submit) }}
    {{ form_end(resetForm) }}
</div>
{% endblock %}
