{% extends 'base.html.twig' %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block stylesheets %}
<style>
    .container-reset {
        padding-top: 100px; /* Espacio adicional para evitar solapamiento con el menú */
        max-width: 600px; /* Ancho máximo para el formulario */
        margin: auto; /* Centrar el contenedor */
    }
    .alert {
        margin-top: 20px; /* Espacio antes de los mensajes de alerta */
    }
    .form-control {
        margin-bottom: 15px; /* Espacio entre campos de formulario */
    }
    .btn {
        width: 100%; /* Botón de ancho completo para un look más moderno */
    }
</style>
{% endblock %}

{% block body %}
<div class="container container-reset mt-4">
    <h2>Restablecer Contraseña</h2>
    <p>Por favor, ingresa tu nueva contraseña.</p>

    {# Mostrar mensajes flash #}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {{ form_start(resetForm, {'action': path('resetear_contraseña', {'token': token}), 'method': 'POST', 'attr': {'class': 'form-reset'}}) }}
        {{ form_row(resetForm.newPassword.first, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(resetForm.newPassword.second, {'attr': {'class': 'form-control'}}) }}
        <button type="submit" class="btn btn-primary">Restablecer contraseña</button>
    {{ form_end(resetForm) }}
</div>
{% endblock %}

