{% extends 'base.html.twig' %}

{% block title %}Registrar nuevo usuario{% endblock %}

{% block body %}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Registrar nuevo usuario</div>
                <div class="card-body">
                    <p>¿Ya tienes una cuenta? <a href="{{ path('app_login') }}">Inicia sesión aquí</a></p>

                    {# Muestra mensajes de error relacionados con la verificación del correo electrónico #}
                    {% for flash_error in app.flashes('verify_email_error') %}
                        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                    {% endfor %}

                        {% for flash_error in app.flashes('verify_email_error') %}
                            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                        {% endfor %}

                          {{ form_errors(form) }}

                            {{ form_start(form) }}
                                <div class="form-group">
                                    {{ form_label(form.nombre) }}
                                    {{ form_widget(form.nombre, { attr: { class: 'form-control' } }) }}
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.apellidos) }}
                                    {{ form_widget(form.apellidos, { attr: { class: 'form-control' } }) }}
                                    
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.email) }}
                                    {{ form_widget(form.email, { attr: { class: 'form-control' } }) }}
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.plainPassword) }}
                                    <div class="input-group">
                                        {{ form_widget(form.plainPassword, { attr: { class: 'form-control' } }) }}
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-outline-secondary" id="togglePassword">Mostrar contraseña</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.agreeTerms) }}
                                    {{ form_widget(form.agreeTerms) }}
                                </div>

                                <button type="submit" class="btn btn-primary">Crear nuevo usuario</button>
                            {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {# Script de validación del formulario de registro #}
    <script>

         $(document).ready(function() {
                $('#togglePassword').click(function() {
                    var passwordInput = $('#{{ form.plainPassword.vars.id }}');
                    var type = passwordInput.attr('type');
                    if (type === 'password') {
                        passwordInput.attr('type', 'text');
                        $(this).text('Ocultar contraseña');
                    } else {
                        passwordInput.attr('type', 'password');
                        $(this).text('Mostrar contraseña');
                    }
                });
            });
        // Espera a que el DOM esté completamente cargado
        document.addEventListener('DOMContentLoaded', function() {
            // Escucha el evento submit del formulario de registro
            document.getElementById('registration-form').addEventListener('submit', function(event) {
                // Limpia los mensajes de error antes de realizar una nueva validación
                clearErrors();

                // Valida el campo de aceptación de términos y condiciones
                var agreeTermsCheckbox = document.getElementById('registration_form_agreeTerms');
                if (!agreeTermsCheckbox.checked) {
                    displayError('You must agree to the terms and conditions.', 'agree-terms-error');
                    event.preventDefault(); // Evita que el formulario se envíe
                }
            });

            // Función para mostrar mensajes de error
            function displayError(errorMessage, elementId) {
                var errorElement = document.getElementById(elementId);
                errorElement.textContent = errorMessage;
            }

            // Función para limpiar los mensajes de error
            function clearErrors() {
                var errorElements = document.querySelectorAll('.error-message');
                errorElements.forEach(function(element) {
                    element.textContent = '';
                });
            }
        });
    </script>

{% endblock %}
