{% extends 'base.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block body %}
    <h1>Detalles Usuarios</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ usuario.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ usuario.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ usuario.roles ? usuario.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ usuario.password }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ usuario.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_usuarios_index') }}" class="btn btn-secondary">Back</a>

    <a href="{{ path('app_usuarios_edit', {'id': usuario.id}) }}" class="btn btn-warning ">Editar</a>

    {{ include('usuarios/_delete_form.html.twig') }}
{% endblock %}
