<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>:círculo_negro:️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    <link href="https://cdn.datatables.net/v/dt/dt-2.0.2/datatables.min.css" rel="stylesheet">
   
    <link href="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.0.3/b-3.0.1/b-html5-3.0.1/b-print-3.0.1/sl-2.0.0/datatables.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!-- Hoja de estilos para el select -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css">
    {% block stylesheets %}
         <style>

/* Cambiar el estilo general del select */
.nice-select {
    font-family: Arial, sans-serif; /* Cambia la tipografía */
    background-color: #fff; /* Color de fondo */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ddd; /* Color del borde */
    width: 95%; /* Ocupar el ancho disponible */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin-bottom: 15px;
}

/* Estilo del dropdown cuando está abierto */
.nice-select.open .list {
    max-height: 200px; /* Controlar la altura máxima del dropdown */
    overflow-y: auto; /* Permitir scroll */
    width: auto; /* Permitir scroll */
}

/* Estilo de las opciones dentro del dropdown */
.nice-select .list .option {
    padding: 8px 10px; /* Ajustar el padding para mayor espacio */
    cursor: pointer; /* Indicar que es seleccionable */
}

/* Estilo para cuando se pasa el mouse sobre las opciones */
.nice-select .list .option:hover {
    background-color: #f7f7f7; /* Color de fondo al hacer hover */
}

/* Estilo para la opción seleccionada */
.nice-select .list .option.selected {
    font-weight: bold; /* Hacer el texto en negrita */
    background-color: #e1e1e1; /* Cambiar el fondo de la opción seleccionada */
}

/* Estilo para la opción con el foco mediante teclado o hover */
.nice-select .list .option.focus {
    background-color: #eaf3ff; /* Color de fondo para el foco */
}

        /* Estilos para la ventana modal */
        .modal-table {
            width: 100%;
            border-collapse: collapse;
        }
        .modal-table th,
        .modal-table td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        .modal-table th {
            background-color: #f2f2f2;
            text-align: left;
        }
    
    /* Estilos para los botones pdf,excel y print */
    .dt-button {
        
        border-color: transparent !important;
        border-radius: 5px !important;
        margin-right: 5px;
    }
   .toolbar .btn-group > .btn {
        margin-right: 0 !important;
    }

    .dt-button:hover {
        opacity: 0.8;
    }

    /* Eliminar los márgenes entre los botones */
    .dt-buttons .btn {
        margin-right: 0 !important;
    }

    /* Estilo personalizado para el botón de Excel */
    .btn-excel {
        background-color: green !important; /* Cambiar el color de fondo a verde oscuro */
        color: white !important; /* Cambiar el color del texto a blanco */
    }

    /* Estilo personalizado para el botón de PDF */
    .btn-pdf {
        background-color: purple !important; /* Cambiar el color de fondo a morado */
        color: white !important; /* Cambiar el color del texto a blanco */
    }

    /* Estilo personalizado para el botón de impresión */
    .btn-print {
        background-color: lightblue !important; /* Cambiar el color de fondo a azul claro */
        color: white !important; /* Cambiar el color del texto a blanco */
    }
    /* Estilo personalizado para los botones de PDF, Excel y Print */
    .btn-pdf,
    .btn-excel,
    .btn-print {
        margin-right: 0 !important;
    }
    </style>

    {% endblock %}
</head>
<body>
{% if app.user %}
<nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" title="Menu" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h4 class="ms-2 fw-bold" id="menuText"></h4>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h2 class="offcanvas-title" id="offcanvasNavbarLabel">
                        <a href="{{ path('app_inicio') }}" class="text-decoration-none text-dark">Inicio</a>
                    </h2>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_clientes_index') }}"><i id="icon" class="bi bi-briefcase"></i> Clientes</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_proyectos_index') }}"><i class="bi bi-stack"></i> Proyectos</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_tareas_index') }}"><i class="bi bi-calendar-range"></i> Tareas</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_usuarios_index') }}"><i class="bi bi-people"></i> Usuarios</a></li>
                    </ul>
                    <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar bg-body-tertiary fixed-bottom">
        <div class="container-fluid justify-content-end">
                {% if app.user %}
                    <class="nav-item">
                        <a class="navbar-brand" href="{{ path('app_logout') }}">
                            Cerrar sesión ({{ app.user.email }})
                        </a>
                {% endif %}
        </div>
    </nav>
{% endif %}
{% block body %}
<div id="global-buttons">
    {% include 'botones_base.html.twig' %}
</div>
    <!-- Contenido específico de cada página -->
{% endblock %}

<!-- Incluye jQuery sin el atributo 'integrity' -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://cdn.datatables.net/v/dt/dt-2.0.2/datatables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<!-- para la selección múltiple y los botones pdf y excel -->
<script src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.0.3/b-3.0.1/b-html5-3.0.1/b-print-3.0.1/sl-2.0.0/datatables.min.js"></script>

<!-- para los gráficos de la pantalla de inicio -->
<script src="https://code.highcharts.com/highcharts.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
<script>
    // Obtiene la ruta actual de la página
    var currentPage = "{{ app.request.attributes.get('_route') }}";
    // Mapea las rutas a los textos correspondientes
    var routeToTextMap = {
        'app_inicio': 'Inicio',
        'app_proyectos_index': 'Proyectos',
        'app_usuarios_index': 'Usuarios',
        'app_tareas_index': 'Tareas',
        'app_clientes_index': 'Clientes'
    };

    // Actualiza el texto del menú
    if (routeToTextMap[currentPage]) {
        document.getElementById('menuText').innerText = routeToTextMap[currentPage];
    }

    // Función para mover el icono
    function moveIcon() {
        var icon = document.getElementById('icon');
        icon.style.transform = 'translateX(10px)'; /* Mueve el icono 10px hacia la derecha */
    }

    // Asociar evento mouseover a todos los enlaces .nav-link
    document.querySelectorAll('.nav-link').forEach(link => {
        link.addEventListener('mouseover', moveIcon);

        // Si quieres que el icono regrese a su posición original cuando el ratón sale del enlace:
        link.addEventListener('mouseout', function() {
            var icon = document.getElementById('icon');
            icon.style.transform = 'translateX(0)'; /* Regresa el icono a su posición original */
        });
    });
</script>
{% block javascripts %}
           
{% endblock %}
</body>
</html>
