{% extends 'base.html.twig' %}

{% block title %}Clientes index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Incluir estilos de DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
    <h1>Clientes</h1>

    <table class="table" id="clientesTabla">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.email }}</td>
                <td>
                    <a href="{{ path('app_clientes_show', {'id': cliente.id}) }}" class="btn btn-info ">Detalles</a>
                    <a href="{{ path('app_clientes_edit', {'id': cliente.id}) }}" class="btn btn-warning ">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

     <a href="{{ path('app_clientes_new') }}" class="btn btn-primary ">Crear Nuevo</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-2.0.2/datatables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#clientesTabla').DataTable({
                buttons: [
                    'copy', 'excel', 'pdf'
                ]
            });
            // Evento click para el botón "Create New"
            $('#btnCrearNuevoCliente').on('click', function() {
                // Redireccionar a la página de creación de nuevo usuario
                window.location.href = "{{ path('app_clientes_new') }}";
            });
            // Evento click para el botón "Guardar Usuario"
            $('#btnGuardarCliente').on('click', function() {
            // Acciones para guardar el usuario
            });
            // Evento click para el botón "Eliminar Usuario"
            $('#btnEliminarCliente').on('click', function() {
            // Acciones para eliminar el usuario
            });
            // Evento click para el botón "Editar Usuario"
            $('#btnEditarCliente').on('click', function() {
         // Acciones para editar el usuario
            });

            // Evento click para el botón "Detalles Usuario"
            $('#btnDetallesCliente').on('click', function() {
            // Acciones para ver detalles del usuario
            });
        });
    </script>
{% endblock %}
