{% extends 'base.html.twig' %}

{% block title %}Clientes index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
     <link href="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.0.3/b-3.0.1/b-html5-3.0.1/b-print-3.0.1/sl-2.0.0/datatables.min.css" rel="stylesheet">
    <!-- Biblioteca para la fecha de creación -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js">
    <!-- Biblioteca de Jquery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    


{% endblock %}

{% block body %}
     <div class="container">
        <h1>Clientes</h1>
        <div class="row">
            <div class="col-md-6">
                <a href="{{ path('app_clientes_new') }}" class="btn btn-primary">Crear Nuevo</a>
                <!-- Nuevo formulario para eliminar clientes -->
                <form action="{{ path('eliminar_clientes') }}" method="post" id="formEliminarClientes" style="display: inline-block;">
                    <!-- Botón para eliminar selección -->
                    <button type="button" class="btn btn-danger" id="eliminarSeleccionButton" style="display: none;">Eliminar selección</button>
                </form>

            </div>
        </div>
        
    <div id="toolbar"></div> <!-- Contenedor para los botones -->

    <table class="table table-bordered" id="clientesTabla">
        <thead>
            <tr>
                <th class="text-center"><input type="checkbox" id="seleccionarTodo"></th>
                <th class="text-center">Id</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Telefono</th>
                <th class="text-center">Email</th>
                <th class="text-center">Proyectos</th>
                <th class="text-center">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td class="text-center"><input type="checkbox" class="seleccionarCliente" name="clientes_seleccionados[]" value="{{ cliente.id }}"></td>
                <td class="text-center">{{ cliente.id }}</td>
                <td class="text-center">{{ cliente.nombre }}</td>
                <td class="text-center">{{ cliente.telefono }}</td>
                <td class="text-center">{{ cliente.email }}</td>
                <td class="text-center">
                    {% for proyecto in cliente.proyectos %}
                        <li>{{ proyecto.nombre }}</li>
                    {% endfor %}
                    </td>
                <td class="text-center">
                    <button type="button" class="btn btn-info abrirDetallesModal" data-toggle="modal" data-target="#detallesCliente{{ cliente.id }}">Detalles</button>
                    <a href="{{ path('app_clientes_edit', {'id': cliente.id}) }}" class="btn btn-warning ">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Sin datos disponibles</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   


    <!-- Divs para mostrar mensajes de éxito y error -->
    <div id="successMessage" class="alert alert-success d-none" role="alert"></div>
    <div id="errorMessage" class="alert alert-danger d-none" role="alert"></div>

    <!-- Ventanas modales para mostrar detalles de los clientes -->
    {% for cliente in clientes %}
        <div class="modal fade" id="detallesCliente{{ cliente.id }}" tabindex="-1" role="dialog" aria-labelledby="detallesCliente{{ cliente.id }}Label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="detallesCliente{{ cliente.id }}Label">Detalles del cliente</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="modal-table">
                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <td>{{ cliente.id }}</td>
                                </tr>
                                <tr>
                                    <th>Nombre</th>
                                    <td>{{ cliente.nombre }}</td>
                                </tr>
                                <tr>
                                    <th>Telefono</th>
                                    <td>{{ cliente.telefono }}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{ cliente.email }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

            {# modal de mensajes #}
        <div class="modal-body">
            {% include '/clientes/modalClientes.html.twig' %}
        </div>

    {% endfor %}
{%block footer %}
<footer class="mt-5">

</footer>
{% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <!-- Estilos y scripts para DataTables con botones y selección múltiple -->
    <script src="https://cdn.datatables.net/v/dt/jszip-3.10.1/dt-2.0.3/b-3.0.1/b-html5-3.0.1/b-print-3.0.1/sl-2.0.0/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <!-- Agrega el script de DataTables Buttons -->
    
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.colVis.min.js"></script>
    
    <script>
        $(document).ready(function() {
        if (tableData !== null) {
            var table = $('#clientesTabla').DataTable({  
                 "dom": '<"row"<"col-sm-3"l><"col-sm-5"B><"col-sm-3 mx-5"f>>rt<"row"<"col-sm-7"p><"col-sm-5"i>>',
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "select": {
                    "rows": {
                        "_": "%d filas seleccionadas",
                        "0": "Haz clic en una fila para seleccionarla",
                        "1": "1 fila seleccionada"
                    }
                },
                }, 
                buttons: [
                    {
                        extend: 'excel',
                        text: '<i class="fas fa-file-excel"></i>',
                        titleAttr: 'Exportar a Excel',
                        className: 'btn-excel',
                        exportOptions: {
                        columns: [1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'pdf',
                        text: '<i class="fas fa-file-pdf"></i>',
                        titleAttr: 'Exportar a PDF',
                        className: 'btn-pdf',
                        exportOptions: {
                        columns: [1, 2, 3, 4, 5]
                        },
                    customize: function(doc) {
                    var docContent = doc.content[1];
                    docContent.margin = [ 0, 0, 0, 0 ]; // [left, top, right, bottom]
                    docContent.table.widths = Array(docContent.table.body[0].length + 1).join('*').split('');
                    // En ese apartado se puede ajustar para cambiar la posición de la tabla horizontalmente
                    docContent.layout = {
                        hLineWidth: function(i, node) {
                            return 0.5;
                        },
                        vLineWidth: function(i, node) {
                            return 0.5;
                        },
                        hLineColor: function(i, node) {
                            return '#aaa';
                        },
                        vLineColor: function(i, node) {
                            return '#aaa';
                        },
                        paddingLeft: function(i, node) {
                            return 4;
                        },
                        paddingRight: function(i, node) {
                            return 4;
                        },
                        paddingTop: function(i, node) {
                            return 2;
                        },
                        paddingBottom: function(i, node) {
                            return 2;
                        }
                    };
                    }
                    },
                    {
                        extend: 'print',
                        text: '<i class="fas fa-print"></i>',
                        titleAttr: 'Imprimir',
                        className: 'btn-print',
                        exportOptions: {
                        columns: [1, 2, 3, 4, 5]
                        }
                    } 
                    ],
                    select: {
                        style: 'multi',
                        selector: 'td:first-child'
                    },
                    order: [[1, 'asc']], // Ordena la tabla por la segunda columna
                    initComplete: function () {
                        $('.dt-buttons').wrapAll('<div class="d-flex justify-content-end"></div>');
                    }
                });
            } else {
                // Si no hay datos, mostrar un mensaje indicando que no hay información
                $('#clientesTabla').html('<tr><td colspan="6">No hay información disponible</td></tr>');
            }
                
         // Agregar el botón de filtrar usando los botones de extensión
        new $.fn.dataTable.Buttons(table, {
            buttons: [
                {
                    extend: 'colvis',
                    text: '<i class="fas fa-filter"></i> Filtrar', // Texto del botón
                    className: 'btn-filter',
                }
            ]
        }).container().appendTo($('#toolbar'));
        // Inicializar los botones de extensión
        table.buttons().container().appendTo($('#toolbar'));
        // Agregar evento para mostrar el desplegable al hacer clic en el botón de filtrar
        $('#toolbar').on('click', '.btn-filter', function() {
            $(this).next().toggleClass('show');
        });
        // Agregar evento para mostrar la marca de verificación al seleccionar una columna
        $('#toolbar').on('change', 'input[type="checkbox"].dt-checkbox', function() {
            var index = $(this).val();
            var checked = $(this).prop('checked');
            table.column(index).visible(checked);
            updateCheckboxesVisibility(); // Llama a la función para actualizar la visibilidad de los checkboxes
        });
        // Función para actualizar la visibilidad de los checkboxes
        function updateCheckboxesVisibility() {
            $('#toolbar input[type="checkbox"].dt-checkbox').each(function() {
                var column = table.column($(this).val());
                $(this).prop('checked', column.visible()); // Marcar o desmarcar el checkbox según la visibilidad de la columna
            });
        }
        // Cerrar el desplegable al hacer clic fuera de él
        $(document).on('click', function(e) {
            if (!$(e.target).closest('.btn-filter').length) {
                $('.show').removeClass('show');
            }
        });
        // Ocultar todas las ventanas modales al principio
        $('.modal').modal('hide');
        // Mostrar ventana modal al hacer clic en el botón de detalles
        $('.abrirDetallesModal').on('click', function() {
            var modalId = $(this).data('target');
            $(modalId).modal('show');
        });

         // Mostrar y ocultar botón de eliminación
    $('#clientesTabla').on('change', '.seleccionarCliente', function() {
        var seleccionados = $('.seleccionarCliente:checked').length > 0;
        $('#eliminarSeleccionButton').toggle(seleccionados);
    });

    // Activar el modal de confirmación
    $('#eliminarSeleccionButton').on('click', function() {
        $('#deleteModal').modal('show');
    });

    // Manejo de la confirmación de eliminación
    $('#confirmDeleteButton').on('click', function() {
        var clientesSeleccionados = $('.seleccionarCliente:checked').map(function() {
            return $(this).val();
        }).get();

        if (clientesSeleccionados.length > 0) {
            $.ajax({
                url: '{{ path('eliminar_clientes') }}',
                method: 'POST',
                contentType: 'application/json', // Asegurarse de enviar el Content-Type adecuado
                data: JSON.stringify({ ids: clientesSeleccionados }), // Convertir los datos a JSON
                success: function(response) {
                    $('#deleteModal').modal('hide');
                     $('#successModal').modal('show');
                    $('#successModalText').text('Clientes eliminados correctamente');
                   setTimeout(function() {
                    $('#successModal').modal('hide'); // Oculta el modal de éxito después de un breve momento
                    location.reload(); // Recarga la página para actualizar los datos
                }, 2000);
                },
                error: function(xhr) {
                    $('#deleteModal').modal('hide');
                    var errorText = xhr.responseJSON && xhr.responseJSON.error ? xhr.responseJSON.error : 'Error desconocido';
                    $('#errorModalText').text(errorText);
                    $('#errorModal').modal('show');
                }
            });
        } else {
            alert('No se ha seleccionado ningún cliente para eliminar.');
            $('#deleteModal').modal('hide');
        }
    });
});
 
    </script>
{% endblock %}
